/* payment history start */

.sh--payment--history--body {
  padding: 96px;
  position: relative;
  width: 100%;
  border-radius: 12px;
  border: 1.4px solid var(--gradient-light, rgba(255, 255, 255, 0.47));
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0px 0px 12px 4px rgba(46, 215, 206, 0.50);
  margin-top: 50px;
}

.sh--payment--history--title--img {
  width: 156px;
  height: 132px;
  position: absolute;
  top: -113px;
  left: 50%;
  transform: translateX(-50%);
}

.sh--payment--history--title--img img {
  width: 100%;
  height: 100%;
}


.sh--payment--history--table table {
  width: 100%;
}

.sh--payment--history--table th,
.sh--payment--history--table td {
  border: 1px dashed rgba(255, 255, 255, 0.20);
  padding: 8px;
}

.sh--payment--history--table th {
  font-weight: bold;
  width: 25%;
  color: #83258D;
  font-family: "Plus Jakarta Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sh--payment--history--table td {
  color: #D9D9D9;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 24px 0;
}


.sh--payment--history--svg--title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.sh--payment--history--svg {
  width: 54px;
  height: 54px;
  margin-right: 16px;
}

.sh--payment--history--title p {
  color: rgba(255, 255, 255, 0.60);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.sh--payment--history--title h4 {
  color: #83258D;
  font-family: "Plus Jakarta Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* payment history end */