.sh--get--started {
    padding: 100px 0;
}

.sh--get--started--header {
    text-align: center;
    margin-bottom: 50px;
}

.sh--get--started--content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.sh--get--started--item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    flex-direction: column;
}

.sh--get--started--item--step {
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-weight: 500;
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 73px;
    border: 1px solid var(--Primary-Purpel, #83258D);
    background: rgba(131, 37, 141, 0.10);
    text-transform: capitalize;
}

.sh--get--started--item--title {
    color: var(--Blue-Grey-300, #DFE3E8);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    text-transform: capitalize;
}

.sh--get--started--line {
    position: absolute;
    top: 45px;
    display: flex;
    width: 100%;
}

.sh--get--started--line--item {
    height: 1px;
    border-radius: 12px;
    border: 1.4px solid var(--gradient-light, rgba(255, 255, 255, 0.47));
    opacity: 0.9;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0px 0px 12px 4px rgba(46, 215, 206, 0.50);

}


.sh--get--started--body {
    position: relative;
}


.sh--get--started--line--item:nth-child(1) {
    width: 21%;
    margin-left: 9%;
}

.sh--get--started--line--item:nth-child(2) {
    width: 24%;
    margin-left: 6%;
}

.sh--get--started--line--item:nth-child(3) {
    width: 24%;
    margin-left: 6%;
}