.sh--questions--section {
  padding: 100px 0;
}

.sh--questions--section--header {
  text-align: center;
}

.sh--questions--section--body {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sh--questions--item--question {
  border-radius: 12px;
  border: 1.4px solid var(--gradient-light, rgba(255, 255, 255, 0.47));
  opacity: 0.9;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0px 0px 6px 0px rgba(46, 215, 206, 0.5);
}

.sh--questions--item--question--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--Basic-White, #fff);
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 166.667% */
  text-transform: capitalize;
  padding: 24px;
}

.sh--questions--item--question--btn--left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.sl--questions--item--answer {
  max-height: 0;
  /* Initially hide the answer */
  overflow: hidden;
  opacity: 0;
  transform: scaleY(0);
  /* Add a scaling effect */
  transform-origin: top;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sl--questions--item--answer.open {
  max-height: 500px;
  /* Adjust for your content height */
  opacity: 1;
  transform: scaleY(1);
  /* Smoothly expand the content */
  padding: 0 24px 24px;
}

.sl--questions--item--answer p {
  color: var(--Blue-Grey-300, #dfe3e8);
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 166.667% */
  text-transform: capitalize;
}