.setting-top-card-item {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.47);
  background: rgba(255, 255, 255, 0.02);
  padding: 48px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  margin-bottom: 32px;
}
.setting-top-card-item:hover {
  box-shadow: 0px 0px 8px 4px rgba(46, 215, 206, 0.24);
}
.setting-top-card-item {
  background-color: #070d0e;
}
.setting-single-item input::placeholder {
  color: #fff;
}
.setting-single-item .input-single-item {
  margin-bottom: 24px;
}
.switch-main-wrap {
  display: flex;
  gap: 32px;
}
.switch-main-wrap .switch-text h3 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.setting-single-item.mt-40 {
  margin-bottom: 40px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 168px;
  background: #070d0e;
  box-shadow: 0px 0px 4px 0px rgba(46, 215, 206, 0.5);
  padding: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.setting-bottom-card {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.47);
  background: #070d0e;
  padding: 48px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.setting-bottom-card:hover {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.47);
  background: #070d0e;
  box-shadow: 0px 0px 8px 4px rgba(46, 215, 206, 0.24);
  padding: 48px;
}
.qr-code-wrapper {
  text-align: center;
}
.qr-code-wrapper h4 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.qr-code-wrapper h5 {
  color: #b41bbd;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 32px;
}
.qr-code-image-wrap {
  width: 192px;
  height: 192px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  /* border: 1px solid #18caae; */
}
.qr-code-image-wrap img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.qr-code-save-btn-wrap button {
  min-width: 200px;
}

.select-timezone {
  padding: 24px 0;
  border-radius: 8px;
  background: #070d0e;
  box-shadow: 0px 0px 4px 0px rgba(46, 215, 206, 0.5);
}
