/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  display: inline-block;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

:root {
  --primary-white: "#FFF";
  --primary-font: "Plus Jakarta Sans", serif;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* background: #020809; */
  background-image: url("./images/Home-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  /* background-attachment: fixed; */
  background-position: top center;
  font-family: "Plus Jakarta Sans", serif;
}

/* Common Css Class Start Hare */
.profit--to--day--main h5 span {
  color: #f9fafb;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  text-transform: capitalize;
}

.tweentyPxText {
  color: #919eab;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.mainHeader {
  color: #fff;
  font-size: 112px;
  font-style: normal;
  font-weight: 500;
  line-height: 121px;
}

.tweentyFourPx {
  color: #dfe3e8;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
}

.subHeader {
  color: #fff;
  font-size: 90px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.aboutBotTweentyFourPx {
  color: #dfe3e8;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  text-transform: capitalize;
}

.fiftySixPx--texts {
  color: #ab4819;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

/* Common Css Class End Hare */